@model PostManagementSystem.ViewModels.AddressViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="index-list-bg">
    <div class="page-title-frame">
        <h1>Create</h1>
    </div>

    <br />


    <h4>Address</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DwellingNumber" class="control-label"></label>
                    <input asp-for="DwellingNumber" class="form-control" />
                    <span asp-validation-for="DwellingNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApartmentNumber" class="control-label"></label>
                    <input asp-for="ApartmentNumber" class="form-control" />
                    <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <select asp-for="City" class="form-control" asp-items="ViewBag.City"></select>
                </div>
                <br />

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary create-button" />
                </div>
            </form>
        </div>
    </div>

    <br />
    <div>
        <form asp-action="Index" asp-controller="Cities" method="get" style="display:inline;">
            <button type="submit" class="btn btn-primary create-button" id="createButton" data-some-attribute="value">Back to List</button>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
