@model PostManagementSystem.ViewModels.PostOfficeViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="index-list-bg">
    
    <div class="page-title-frame">
        <h1>Edit</h1>
    </div>
    <br />

    <h4>PostOffice</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PostOfficeID" />
                <div class="form-group">
                    <label asp-for="SCapacity" class="control-label"></label>
                    <input asp-for="SCapacity" class="form-control" />
                    <span asp-validation-for="SCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MCapacity" class="control-label"></label>
                    <input asp-for="MCapacity" class="form-control" />
                    <span asp-validation-for="MCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LCapacity" class="control-label"></label>
                    <input asp-for="LCapacity" class="form-control" />
                    <span asp-validation-for="LCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressID" class="control-label"></label>
                    <select asp-for="AddressID" class="form-control" asp-items="ViewBag.Address"></select>
                    <span asp-validation-for="AddressID" class="text-danger"></span>
                </div>
                <br />
                
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary create-button" />
                </div>
                <br />
            </form>
        </div>
    </div>

    <div>
        <form asp-action="Index" asp-controller="PostOffices" method="get" style="display:inline;">
            <button type="submit" class="btn btn-primary create-button" id="createButton" data-some-attribute="value">Back to List</button>
        </form>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
