@page
@model PostManagementSystem.Models.Delivery
@{
}

<div class="page-title-frame">
    <h1>Package has been collected</h1>
</div>
<br />

<div class="index-list-bg">
    <header>

        <h2>Have a nice day!</h2>
        <br />
        <br />

        <div class="col-md-2">
            <a asp-action="Index" asp-controller="Deliveries" style="display:inline;">
                <button type="submit" class="btn btn-primary back-to-list-button" id="toFullListButton" data-some-attribute="value">Continue</button>
            </a>
        </div>
    </header>
</div>


