@model PostManagementSystem.Models.Delivery

@{
    ViewData["Title"] = "Edit";
}

<div class="index-list-bg">
    <div class="page-title-frame">
        <h1>Edit</h1>
    </div>
    <br />

    <h4>Delivery</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DeliveryID" />
                <div class="form-group">
                    <label asp-for="ExpectedDeliveryDate" class="control-label"></label>
                    <input asp-for="ExpectedDeliveryDate" class="form-control" type="date" />
                    <span asp-validation-for="ExpectedDeliveryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StatusID" class="control-label"></label>
                    <select asp-for="StatusID" class="form-control" asp-items="ViewBag.Status"></select>
                    <span asp-validation-for="StatusID" class="text-danger"></span>
                </div>
                <br />
                
                <form asp-action="Delete">
                    <input type="hidden" asp-for="DeliveryID" />
                    <input type="submit" class="btn btn-primary create-button" value="Save" />
                </form>
            </form>
        </div>
    </div>
    <br />

    <form asp-action="Index" asp-controller="Deliveries" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary create-button" id="createButton" data-some-attribute="value">Back to List</button>
    </form>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
