html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

  background-image: url('/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-bg {
    background-color: #FFFDD0;
    margin-inline: auto;
    width: 45%;
    padding: 35px;
    height: auto;
    border-radius: 25px;
}

.footer-bg {
    background-color: #FFFDD0;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.login-screen-alignment {
    max-width: fit-content;
    margin-inline: auto;
}

.index-list-bg
{
    background-color: #FFFDD0;
    border-radius: 25px;
    padding: 15px;
    font-family: Arial;
    min-width: fit-content;
    min-height: fit-content;
    font-size:18px;
}

.access-denied-bg {
    background-color: #990000;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    opacity: 0.85;
    border-radius: 5px;
}

.page-title-frame {
    background-color: #003366;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    opacity: 0.90;
    border-radius: 5px;
}

/*buttons*/

.copyID-button {
    width: 80px;
    height: 35px;
    background-color: #ffcc00;
    color: black;
    font-size: 15px;
}

.create-button
{
    background-color: #C95B0C;
    font-size: 18px;
}

.back-to-list-button {
    background-color: #C95B0C;
    font-size: 18px;
    color: white;
}

.main-menu-button {
    background-color: #C95B0C;
    font-size: 18px;
    width: 210px
}

.bold
{
    font-weight: 600;
}

.page-title-frame {
    background-color: #003366;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    opacity: 0.85;
    border-radius: 5px;
}

.center-div {
    width: 50%;
    margin: 0 auto
}

.nav-bar-font {
   font-size: 21px;
   font-weight: 600;
}

.logout-button {
    background-color: #583927;
    color: white;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary.focus,
.btn-primary.active {
    background-color: #003366 !important;
    border-color: #003366 !important;
    color: white;
}

.custom-nav-link {
    padding: 10px 15px;
}

/*.custom-navbar-nav {
    display: grid;
    justify-content: space-evenly;
    width: 100%;
}

.custom-nav-item {
    flex-grow: 1;
    text-align: center;
}
*/