@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="index-list-bg">
    <header>
        <div class="access-denied-bg">
            <h1>@ViewData["Title"]</h1>
        </div>
        <br />

        <p>You do not have access to this resource.</p>
    </header>
</div>


